<div class="row">
    <div class="col-8">
        <h1 class="mb-1">Setup</h1>
        <span>Update your user information to enhance the music algorithm and receive better recommendations tailored to your preferences.</span>
        <hr class="text-white">
        <div class="mt-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <app-input [inputValue]="userManagementService.user()?.Name" formControlName="name" label="Name" [type]="InputType.Text"></app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input [inputValue]="userManagementService.user()?.Email" formControlName="email" label="Email" [type]="InputType.Text"></app-input>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <app-input [inputValue]="userManagementService.user()?.Nickname" formControlName="nickname" label="Nickname" [type]="InputType.Text"></app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input formControlName="age" label="Age" [type]="InputType.Number"></app-input>
                    </div>
                </div>
                <div class="mt-5">
                    <h3>Tell us how you enjoy these music attributes</h3>
                </div>
                @if (options.length > 0) {
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <app-search-select formControlName="danceability" [label]="'Danceability'" [options]="options"></app-search-select>
                        </div>
                        <div class="col-md-6">
                            <app-search-select formControlName="energy" [label]="'Energy'" [options]="options"></app-search-select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <app-search-select formControlName="speechiness" [label]="'Speechiness'" [options]="options"></app-search-select>
                        </div>
                        <div class="col-md-6">
                            <app-search-select formControlName="loudness" [label]="'Loudness'" [options]="options"></app-search-select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <app-search-select formControlName="instrumentalness" [label]="'Instrumentalness'" [options]="options"></app-search-select>
                        </div>
                        <div class="col-md-6">
                            <app-search-select formControlName="liveness" [label]="'Liveness'" [options]="options"></app-search-select>
                        </div>
                    </div>
                }
                <app-button [event]="onSubmit" label="Update information" [type]="buttonType.PRIMARY"></app-button>
            </form>
        </div>
    </div>
</div>