.playlist-card-container {
    height: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient-playlist-background {
    background: linear-gradient(45deg, var(--dark-gray), var(--light-gray));
}